CORS_ORIGINS=https://fluxstrade.vercel.app
DERIV_API_BASE_URL=https://api.derivws.com
DERIV_APP_ID=33bSgXIzAKsMCShxiEL83
DERIV_AUTH_URL=https://auth.deriv.com/oauth2/auth
DERIV_CLIENT_ID=pat_1d31fbf2b8a355f0de2b0e889e196cabed1b362a62636608e475662202d10bca
DERIV_OAUTH_SCOPE="trade account_manage"
DERIV_REDIRECT_URI=https://fluxstrade.onrender.com/api/callback
DERIV_TOKEN_URL=https://auth.deriv.com/oauth2/token
FLASK_ENV=production
FLASK_SECRET_KEY=whdhfhjsjjdy7ehjfjjjfjjjdkkskks
FRONTEND_URL=https://fluxstrade.vercel.app
SESSION_COOKIE_SAMESITE=None
SESSION_COOKIE_SECURE=true
SESSION_FILE_DIR=/tmp/fluxstrade_sessions